[Desktop Entry]
Name=Radeon Profile
Comment=Monitor Radeon GPU parameters and switch power profiles
Exec=gksudo radeon-profile
Icon=radeon-profile
Terminal=false
Type=Application
Categories=System;
StartupNotify=false
